{% extends "./navbar.html"%}
{% load static %}
{% block head%}
    
{% endblock %}

{% block body%}
<div class="descripcion">
    <div class="card mb-3" >
 
          <img id="catalogo-img" src="{% static 'img/CollarHusky_Cafe.webp' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">
              Collar PetLover - Husky</h1>
            <br>
            <p class="card-text">Increibles collares con las caras de tus Perrhijos pequenos favoritos!. Hemos disenado estos collares especialmente para tus peludos con colores vibrantes y sus caras por todo el collar. La imagen de referencia es en CELESTE, pero los colores disponibles son los que tu quieras dentro de las opciones de la ficha del producto. Incluye GRATIS el nombre de tu mascota y hasta dos telefonos estampados en el mismo collar. REVISA BIEN LAS MEDIDAS ANTES DE COMPRAR YA QUE COLLARES PERSONALIZADOS NO TIENEN CAMBIO APERTURA MINIMA APERTURA MAXIMA ANCHO COLLAR COLLAR CHICOrecomendado para razaspequenas a medianas 29cm 46cm 2cm COLLAR GRANDERecomendado pararazas grandes 38cm 63cm 2.5cm</p>
            <div class="btn btn-primary">Añadir al carro</div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
