{% extends "./navbar.html"%}
{% load static %}

{% block head%}
{% endblock %}
{% block body %}


<div style="margin-bottom:100px;">
  <header class="bg-warning text-dark text-center py-5" >
    <h1 class="display-4"> <strong>GymFlow</strong> </h1>
    <p class="lead">Mantente en movimiento</p>
</header>
</div> 



<!-- <div class="contenedor-carousel"> 
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <button id="btn-prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    <div id="img-carousel" class="carousel-inner">
      
      <div  class="carousel-item active">
        <img src="https://img.freepik.com/fotos-premium/foto-entrenamiento-fitness-hombre-mujer-gimnasio_763111-22826.jpg" style="object-fit:fill"   class="d-block w-100" alt="...">
      </div>
      <div  class="carousel-item active">
        <img src="{% static 'img/Carousel_slide_2.webp' %}" class="d-block w-100" alt="...">
      </div>
      <div  class="carousel-item active">
        <img src="{% static 'img/Carousel_slide_3.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
     
    <button id="btn-next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>

  
  <div class="titulo">
    <h3 class="texto-titulo">
      Artículos Destacados
    </h3>
  </div>
  -->
  

  <!-- wea2 -->

  <!-- <div class="lista-1"> 
    <div id="grupo-cards" >
    
      <div class="card-group">
        <div class="card">
          <img src="{% static 'img/Card-1.jpg' %}" class="card-img-top" alt="...">
          <div id="cuerpo-cartas" class="card-body">
            <h5 id="titulo-carta" class="card-title">Abrigo para gato</h5>
            <p class="card-text">Abrigo para gato marca canin, especial para esos dias de frio.</p>
          </div>
          <div class="card-footer">
 
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/Card-2.jpg' %}" class="card-img-top" alt="...">
          <div id="cuerpo-cartas" class="card-body">
            <h5 id="titulo-carta" class="card-title">Casa para gatos</h5>
            <p class="card-text">Con esta moderna casa para gatos tu felino se sentira mas acogido que nunca.</p>
          </div>
          <div class="card-footer">

          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/Card-3.jpg' %}" class="card-img-top" alt="...">
          <div id="cuerpo-cartas" class="card-body">
            <h5 id="titulo-carta" class="card-title">Comida para gatos</h5>
            <p class="card-text">Comida natural food para gatos, con ingredientes 100% naturales.</p>
          </div>
          <div class="card-footer">
  
          </div>
        </div>
      </div>
  </div>
</div> -->


<!-- weA -->

<!-- <div class="lista-2"> 
  <div id="grupo-cards">
    <div class="card-group">
      <div class="card">
        <img id="img-inicio" src="{% static 'img/Card-4.webp' %}" class="card-img-top" alt="...">
        <div id="cuerpo-cartas" class="card-body">
          <h5 id="titulo-carta" class="card-title">Cama Perro</h5>
          <p class="card-text">Para que tu mascota duerma comoda.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
      <div class="card">
        <img src="{% static 'img/Card-5.webp' %}" class="card-img-top" alt="...">
        <div id="cuerpo-cartas" class="card-body">
          <h5 id="titulo-carta" class="card-title">Juguete Perro</h5>
          <p class="card-text">Para que tu perro nunca se aburra.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
      <div class="card">
        <img src="{% static 'img/Card-6.jpg' %}" class="card-img-top" alt="...">
        <div id="cuerpo-cartas" class="card-body">
          <h5 id="titulo-carta" class="card-title">Premio para perro</h5>
          <p class="card-text">Comida nutritiva para incentivar a tu mejor amigo.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- wea -->

<div class="container mt-5">
  <div class="row">
      <div class="col-md-8">
          <h2>Descubre nuestra app</h2>
          <p>Nuestra aplicación de gimnasio te ofrece una amplia variedad de rutinas de entrenamiento, desde principiantes hasta avanzados, para ayudarte a alcanzar tus objetivos de fitness. Con nuestra aplicación, puedes acceder a rutinas personalizadas, diseñadas por entrenadores profesionales, que se adaptan a tus necesidades y habilidades. Además, nuestra aplicación te permite hacer un seguimiento de tu progreso y monitorear tus estadísticas de entrenamiento.</p>
      </div>
      <div class="col-md-4">
          {% comment %} <img src="{% static 'img/pexels-eneida-nieves-1222551.jpg' %}" alt="Librería" class="img-fluid rounded"> {% endcomment %}
          <img src="https://images.squarespace-cdn.com/content/v1/6088bf84f6460a6aaca60f42/1623041285038-QBNX9Q69SXAUBY8JVMCN/610_9576.jpg" alt="Librería" class="img-fluid rounded">
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          {% comment %} <img  src="{% static 'img/pexels-malte-luk-1848924.jpg' %}" alt="Comodidad" class="img-fluid rounded"> {% endcomment %}
          <img  src="{% static 'img/logo4.png' %}" alt="Comodidad" class="img-fluid rounded">
          

      </div>
      <div class="col-md-8">
          <h2>Comodidad en Tus Manos</h2>
          <p>Nuestra aplicación también cuenta con una amplia variedad de recursos educativos, desde videos instructivos hasta artículos informativos, para ayudarte a aprender más sobre el fitness y la nutrición. Y si alguna vez tienes preguntas o necesitas ayuda, nuestro equipo de soporte está disponible para ayudarte en cualquier momento.
            <br>
            <br>
            ¡Prueba nuestra aplicación hoy mismo y comienza tu viaje hacia una vida más saludable!</p>
      </div>

      
  </div>
</div>


{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>>
<script src="{% static 'css/main.css' %}"></script>

<script>
  $(document).ready(function() {
    $('#img-inicio').mouseenter(function() {
      $(this).addClass('outline');
    }).mouseleave(function() {
      $(this).removeClass('outline');
    });
  });
</script>
{% endblock %}
